body {
    margin: 20px;
    padding-right: 10px;
    color: white;
}

a {
    color: darkcyan;
}

span {
    font-weight: 700;
    background-color: black;
    color: white;
}

h2 {
    background-color: rgba(0, 139, 139, 0.529);
}

b {
    text-decoration: underline yellow;
}

h3 {
    color: lightcyan;
}

.selector {
    text-decoration: underline red;
    text-align: center;
}

h5 {
    color: green;
}

img {
    margin: 10px;
    padding: 30px;
}